.icon-film,.icon-zoom-in,.icon-zoom-out,.icon-off,.icon-cog,.icon-trash,.icon-home,.icon-file,.icon-download-alt,.icon-facetime-video,.icon-edit,.icon-share,.icon-resize-full,.icon-resize-small,.icon-plus,.icon-minus,.icon-chevron-up,.icon-chevron-down,.icon-upload-alt,.icon-rss,.icon-caret-down,.icon-caret-up,.icon-caret-left,.icon-caret-right,.icon-pencil,.icon-reply,.icon-reply-all,.icon-forward,.icon-adjust,.icon-checkmark,.icon-checkmark2,.icon-cancel,.icon-cancel2,.icon-plus2,.icon-plus3,.icon-minus2,.icon-minus3,.icon-notice,.icon-notice2,.icon-warning,.icon-checkmark3,.icon-cancel3,.icon-cloud,.icon-upload,.icon-download,.icon-cube,.icon-folder,.icon-folder-open,.icon-alarm,.icon-calendar,.icon-calendar2,.icon-user,.icon-user2,.icon-key,.icon-wrench,.icon-lightning,.icon-switch,.icon-play,.icon-pause,.icon-stop,.icon-backward,.icon-forward2,.icon-play2,.icon-pause2,.icon-stop2,.icon-backward2,.icon-forward3,.icon-first,.icon-last,.icon-previous,.icon-next,.icon-eject,.icon-arrow-up-left,.icon-arrow-up,.icon-arrow-up-right,.icon-arrow-right,.icon-arrow-down-right,.icon-arrow-down,.icon-arrow-down-left,.icon-arrow-left,.icon-arrow-up-left2,.icon-arrow-up2,.icon-arrow-up-right2,.icon-arrow-right2,.icon-arrow-down-right2,.icon-arrow-down2,.icon-arrow-down-left2,.icon-arrow-left2,
.icon16-film,.icon16-zoom-in,.icon16-zoom-out,.icon16-off,.icon16-cog,.icon16-trash,.icon16-home,.icon16-file,.icon16-download-alt,.icon16-facetime-video,.icon16-edit,.icon16-share,.icon16-resize-full,.icon16-resize-small,.icon16-plus,.icon16-minus,.icon16-chevron-up,.icon16-chevron-down,.icon16-upload-alt,.icon16-rss,.icon16-caret-down,.icon16-caret-up,.icon16-caret-left,.icon16-caret-right,.icon16-pencil,.icon16-reply,.icon16-reply-all,.icon16-forward,.icon16-adjust,.icon16-checkmark,.icon16-checkmark2,.icon16-cancel,.icon16-cancel2,.icon16-plus2,.icon16-plus3,.icon16-minus2,.icon16-minus3,.icon16-notice,.icon16-notice2,.icon16-warning,.icon16-checkmark3,.icon16-cancel3,.icon16-cloud,.icon16-upload,.icon16-download,.icon16-cube,.icon16-folder,.icon16-folder-open,.icon16-alarm,.icon16-calendar,.icon16-calendar2,.icon16-user,.icon16-user2,.icon16-key,.icon16-wrench,.icon16-lightning,.icon16-switch,.icon16-play,.icon16-pause,.icon16-stop,.icon16-backward,.icon16-forward2,.icon16-play2,.icon16-pause2,.icon16-stop2,.icon16-backward2,.icon16-forward3,.icon16-first,.icon16-last,.icon16-previous,.icon16-next,.icon16-eject,.icon16-arrow-up-left,.icon16-arrow-up,.icon16-arrow-up-right,.icon16-arrow-right,.icon16-arrow-down-right,.icon16-arrow-down,.icon16-arrow-down-left,.icon16-arrow-left,.icon16-arrow-up-left2,.icon16-arrow-up2,.icon16-arrow-up-right2,.icon16-arrow-right2,.icon16-arrow-down-right2,.icon16-arrow-down2,.icon16-arrow-down-left2,.icon16-arrow-left2, 
.icon24-film,.icon24-zoom-in,.icon24-zoom-out,.icon24-off,.icon24-cog,.icon24-trash,.icon24-home,.icon24-file,.icon24-download-alt,.icon24-facetime-video,.icon24-edit,.icon24-share,.icon24-resize-full,.icon24-resize-small,.icon24-plus,.icon24-minus,.icon24-chevron-up,.icon24-chevron-down,.icon24-upload-alt,.icon24-rss,.icon24-caret-down,.icon24-caret-up,.icon24-caret-left,.icon24-caret-right,.icon24-pencil,.icon24-reply,.icon24-reply-all,.icon24-forward,.icon24-adjust,.icon24-checkmark,.icon24-checkmark2,.icon24-cancel,.icon24-cancel2,.icon24-plus2,.icon24-plus3,.icon24-minus2,.icon24-minus3,.icon24-notice,.icon24-notice2,.icon24-warning,.icon24-checkmark3,.icon24-cancel3,.icon24-cloud,.icon24-upload,.icon24-download,.icon24-cube,.icon24-folder,.icon24-folder-open,.icon24-alarm,.icon24-calendar,.icon24-calendar2,.icon24-user,.icon24-user2,.icon24-key,.icon24-wrench,.icon24-lightning,.icon24-switch,.icon24-play,.icon24-pause,.icon24-stop,.icon24-backward,.icon24-forward2,.icon24-play2,.icon24-pause2,.icon24-stop2,.icon24-backward2,.icon24-forward3,.icon24-first,.icon24-last,.icon24-previous,.icon24-next,.icon24-eject,.icon24-arrow-up-left,.icon24-arrow-up,.icon24-arrow-up-right,.icon24-arrow-right,.icon24-arrow-down-right,.icon24-arrow-down,.icon24-arrow-down-left,.icon24-arrow-left,.icon24-arrow-up-left2,.icon24-arrow-up2,.icon24-arrow-up-right2,.icon24-arrow-right2,.icon24-arrow-down-right2,.icon24-arrow-down2,.icon24-arrow-down-left2,.icon24-arrow-left2,
.icon32-film,.icon32-zoom-in,.icon32-zoom-out,.icon32-off,.icon32-cog,.icon32-trash,.icon32-home,.icon32-file,.icon32-download-alt,.icon32-facetime-video,.icon32-edit,.icon32-share,.icon32-resize-full,.icon32-resize-small,.icon32-plus,.icon32-minus,.icon32-chevron-up,.icon32-chevron-down,.icon32-upload-alt,.icon32-rss,.icon32-caret-down,.icon32-caret-up,.icon32-caret-left,.icon32-caret-right,.icon32-pencil,.icon32-reply,.icon32-reply-all,.icon32-forward,.icon32-adjust,.icon32-checkmark,.icon32-checkmark2,.icon32-cancel,.icon32-cancel2,.icon32-plus2,.icon32-plus3,.icon32-minus2,.icon32-minus3,.icon32-notice,.icon32-notice2,.icon32-warning,.icon32-checkmark3,.icon32-cancel3,.icon32-cloud,.icon32-upload,.icon32-download,.icon32-cube,.icon32-folder,.icon32-folder-open,.icon32-alarm,.icon32-calendar,.icon32-calendar2,.icon32-user,.icon32-user2,.icon32-key,.icon32-wrench,.icon32-lightning,.icon32-switch,.icon32-play,.icon32-pause,.icon32-stop,.icon32-backward,.icon32-forward2,.icon32-play2,.icon32-pause2,.icon32-stop2,.icon32-backward2,.icon32-forward3,.icon32-first,.icon32-last,.icon32-previous,.icon32-next,.icon32-eject,.icon32-arrow-up-left,.icon32-arrow-up,.icon32-arrow-up-right,.icon32-arrow-right,.icon32-arrow-down-right,.icon32-arrow-down,.icon32-arrow-down-left,.icon32-arrow-left,.icon32-arrow-up-left2,.icon32-arrow-up2,.icon32-arrow-up-right2,.icon32-arrow-right2,.icon32-arrow-down-right2,.icon32-arrow-down2,.icon32-arrow-down-left2,.icon32-arrow-left2 {
	display: inline-block;
	background-repeat: no-repeat;
	margin-bottom:-5px;
	padding:7px 15px 0px 15px;
}
.icon-film,.icon-zoom-in,.icon-zoom-out,.icon-off,.icon-cog,.icon-trash,.icon-home,.icon-file,.icon-download-alt,.icon-facetime-video,.icon-edit,.icon-share,.icon-resize-full,.icon-resize-small,.icon-plus,.icon-minus,.icon-chevron-up,.icon-chevron-down,.icon-upload-alt,.icon-rss,.icon-caret-down,.icon-caret-up,.icon-caret-left,.icon-caret-right,.icon-pencil,.icon-reply,.icon-reply-all,.icon-forward,.icon-adjust,.icon-checkmark,.icon-checkmark2,.icon-cancel,.icon-cancel2,.icon-plus2,.icon-plus3,.icon-minus2,.icon-minus3,.icon-notice,.icon-notice2,.icon-warning,.icon-checkmark3,.icon-cancel3,.icon-cloud,.icon-upload,.icon-download,.icon-cube,.icon-folder,.icon-folder-open,.icon-alarm,.icon-calendar,.icon-calendar2,.icon-user,.icon-user2,.icon-key,.icon-wrench,.icon-lightning,.icon-switch,.icon-play,.icon-pause,.icon-stop,.icon-backward,.icon-forward2,.icon-play2,.icon-pause2,.icon-stop2,.icon-backward2,.icon-forward3,.icon-first,.icon-last,.icon-previous,.icon-next,.icon-eject,.icon-arrow-up-left,.icon-arrow-up,.icon-arrow-up-right,.icon-arrow-right,.icon-arrow-down-right,.icon-arrow-down,.icon-arrow-down-left,.icon-arrow-left,.icon-arrow-up-left2,.icon-arrow-up2,.icon-arrow-up-right2,.icon-arrow-right2,.icon-arrow-down-right2,.icon-arrow-down2,.icon-arrow-down-left2,.icon-arrow-left2 {
	margin-bottom:-3px;
	width: 18px;
	height: 18px;
	background-image: url(sprites18.png);
}
.icon-black{
	background-image: url(sprites18-black.png);
}
.icon-white{
	background-image: url(sprites18-white.png);
}
.icon16-film,.icon16-zoom-in,.icon16-zoom-out,.icon16-off,.icon16-cog,.icon16-trash,.icon16-home,.icon16-file,.icon16-download-alt,.icon16-facetime-video,.icon16-edit,.icon16-share,.icon16-resize-full,.icon16-resize-small,.icon16-plus,.icon16-minus,.icon16-chevron-up,.icon16-chevron-down,.icon16-upload-alt,.icon16-rss,.icon16-caret-down,.icon16-caret-up,.icon16-caret-left,.icon16-caret-right,.icon16-pencil,.icon16-reply,.icon16-reply-all,.icon16-forward,.icon16-adjust,.icon16-checkmark,.icon16-checkmark2,.icon16-cancel,.icon16-cancel2,.icon16-plus2,.icon16-plus3,.icon16-minus2,.icon16-minus3,.icon16-notice,.icon16-notice2,.icon16-warning,.icon16-checkmark3,.icon16-cancel3,.icon16-cloud,.icon16-upload,.icon16-download,.icon16-cube,.icon16-folder,.icon16-folder-open,.icon16-alarm,.icon16-calendar,.icon16-calendar2,.icon16-user,.icon16-user2,.icon16-key,.icon16-wrench,.icon16-lightning,.icon16-switch,.icon16-play,.icon16-pause,.icon16-stop,.icon16-backward,.icon16-forward2,.icon16-play2,.icon16-pause2,.icon16-stop2,.icon16-backward2,.icon16-forward3,.icon16-first,.icon16-last,.icon16-previous,.icon16-next,.icon16-eject,.icon16-arrow-up-left,.icon16-arrow-up,.icon16-arrow-up-right,.icon16-arrow-right,.icon16-arrow-down-right,.icon16-arrow-down,.icon16-arrow-down-left,.icon16-arrow-left,.icon16-arrow-up-left2,.icon16-arrow-up2,.icon16-arrow-up-right2,.icon16-arrow-right2,.icon16-arrow-down-right2,.icon16-arrow-down2,.icon16-arrow-down-left2,.icon16-arrow-left2 {
	width: 16px;
	height: 16px;
	background-image: url(sprites16.png);
}
.icon16-black{
	background-image: url(sprites16-black.png);
}
.icon16-white{
	background-image: url(sprites16-white.png);
}
.icon24-film,.icon24-zoom-in,.icon24-zoom-out,.icon24-off,.icon24-cog,.icon24-trash,.icon24-home,.icon24-file,.icon24-download-alt,.icon24-facetime-video,.icon24-edit,.icon24-share,.icon24-resize-full,.icon24-resize-small,.icon24-plus,.icon24-minus,.icon24-chevron-up,.icon24-chevron-down,.icon24-upload-alt,.icon24-rss,.icon24-caret-down,.icon24-caret-up,.icon24-caret-left,.icon24-caret-right,.icon24-pencil,.icon24-reply,.icon24-reply-all,.icon24-forward,.icon24-adjust,.icon24-checkmark,.icon24-checkmark2,.icon24-cancel,.icon24-cancel2,.icon24-plus2,.icon24-plus3,.icon24-minus2,.icon24-minus3,.icon24-notice,.icon24-notice2,.icon24-warning,.icon24-checkmark3,.icon24-cancel3,.icon24-cloud,.icon24-upload,.icon24-download,.icon24-cube,.icon24-folder,.icon24-folder-open,.icon24-alarm,.icon24-calendar,.icon24-calendar2,.icon24-user,.icon24-user2,.icon24-key,.icon24-wrench,.icon24-lightning,.icon24-switch,.icon24-play,.icon24-pause,.icon24-stop,.icon24-backward,.icon24-forward2,.icon24-play2,.icon24-pause2,.icon24-stop2,.icon24-backward2,.icon24-forward3,.icon24-first,.icon24-last,.icon24-previous,.icon24-next,.icon24-eject,.icon24-arrow-up-left,.icon24-arrow-up,.icon24-arrow-up-right,.icon24-arrow-right,.icon24-arrow-down-right,.icon24-arrow-down,.icon24-arrow-down-left,.icon24-arrow-left,.icon24-arrow-up-left2,.icon24-arrow-up2,.icon24-arrow-up-right2,.icon24-arrow-right2,.icon24-arrow-down-right2,.icon24-arrow-down2,.icon24-arrow-down-left2,.icon24-arrow-left2 {
	width: 24px;
	height: 24px;
	background-image: url(sprites24.png);
}
.icon24-black{
	background-image: url(sprites24-black.png);
}
.icon24-white{
	background-image: url(sprites24-white.png);
}

.icon32-film,.icon32-zoom-in,.icon32-zoom-out,.icon32-off,.icon32-cog,.icon32-trash,.icon32-home,.icon32-file,.icon32-download-alt,.icon32-facetime-video,.icon32-edit,.icon32-share,.icon32-resize-full,.icon32-resize-small,.icon32-plus,.icon32-minus,.icon32-chevron-up,.icon32-chevron-down,.icon32-upload-alt,.icon32-rss,.icon32-caret-down,.icon32-caret-up,.icon32-caret-left,.icon32-caret-right,.icon32-pencil,.icon32-reply,.icon32-reply-all,.icon32-forward,.icon32-adjust,.icon32-checkmark,.icon32-checkmark2,.icon32-cancel,.icon32-cancel2,.icon32-plus2,.icon32-plus3,.icon32-minus2,.icon32-minus3,.icon32-notice,.icon32-notice2,.icon32-warning,.icon32-checkmark3,.icon32-cancel3,.icon32-cloud,.icon32-upload,.icon32-download,.icon32-cube,.icon32-folder,.icon32-folder-open,.icon32-alarm,.icon32-calendar,.icon32-calendar2,.icon32-user,.icon32-user2,.icon32-key,.icon32-wrench,.icon32-lightning,.icon32-switch,.icon32-play,.icon32-pause,.icon32-stop,.icon32-backward,.icon32-forward2,.icon32-play2,.icon32-pause2,.icon32-stop2,.icon32-backward2,.icon32-forward3,.icon32-first,.icon32-last,.icon32-previous,.icon32-next,.icon32-eject,.icon32-arrow-up-left,.icon32-arrow-up,.icon32-arrow-up-right,.icon32-arrow-right,.icon32-arrow-down-right,.icon32-arrow-down,.icon32-arrow-down-left,.icon32-arrow-left,.icon32-arrow-up-left2,.icon32-arrow-up2,.icon32-arrow-up-right2,.icon32-arrow-right2,.icon32-arrow-down-right2,.icon32-arrow-down2,.icon32-arrow-down-left2,.icon32-arrow-left2 {
	width: 32px;
	height: 32px;
	background-image: url(sprites32.png);
}
.icon32-black{
	background-image: url(sprites32-black.png);
}
.icon32-white{
	background-image: url(sprites32-white.png);
}

.icon-film {
	background-position: 0 0;
	width: 19px;
}
.icon-zoom-in {
	background-position: -36px 0;
}
.icon-zoom-out {
	background-position: -72px 0;
}
.icon-off {
	background-position: -108px 0;
}
.icon-cog {
	background-position: -144px 0;
}
.icon-trash {
	background-position: -180px 0;
}
.icon-home {
	background-position: -216px 0;
}
.icon-file {
	background-position: -252px 0;
}
.icon-download-alt {
	background-position: -288px 0;
}
.icon-facetime-video {
	background-position: -324px 0;
	width: 19px;
}
.icon-edit {
	background-position: -360px 0;
}
.icon-share {
	background-position: -396px 0;
}
.icon-resize-full {
	background-position: 0 -36px;
}
.icon-resize-small {
	background-position: -36px -36px;
}
.icon-plus {
	background-position: -72px -36px;
}
.icon-minus {
	background-position: -108px -36px;
}
.icon-chevron-up {
	background-position: -144px -36px;
}
.icon-chevron-down {
	background-position: -180px -36px;
}
.icon-upload-alt {
	background-position: -216px -36px;
}
.icon-rss {
	background-position: -252px -36px;
}
.icon-caret-down {
	background-position: -288px -36px;
}
.icon-caret-up {
	background-position: -324px -36px;
}
.icon-caret-left {
	background-position: -360px -36px;
}
.icon-caret-right {
	background-position: -396px -36px;
}
.icon-pencil {
	background-position: 0 -72px;
}
.icon-reply {
	background-position: -36px -72px;
}
.icon-reply-all {
	background-position: -72px -72px;
}
.icon-forward {
	background-position: -108px -72px;
}
.icon-adjust {
	background-position: -144px -72px;
}
.icon-checkmark {
	background-position: -180px -72px;
}
.icon-checkmark2 {
	background-position: -216px -72px;
}
.icon-cancel {
	background-position: -252px -72px;
}
.icon-cancel2 {
	background-position: -288px -72px;
}
.icon-plus2 {
	background-position: -324px -72px;
}
.icon-plus3 {
	background-position: -360px -72px;
}
.icon-minus2 {
	background-position: -396px -72px;
}
.icon-minus3 {
	background-position: 0 -108px;
}
.icon-notice {
	background-position: -36px -108px;
}
.icon-notice2 {
	background-position: -72px -108px;
}
.icon-warning {
	background-position: -108px -108px;
}
.icon-checkmark3 {
	background-position: -144px -108px;
}
.icon-cancel3 {
	background-position: -180px -108px;
}
.icon-cloud {
	background-position: -216px -108px;
	width: 19px;
}
.icon-upload {
	background-position: -252px -108px;
	width: 19px;
}
.icon-download {
	background-position: -288px -108px;
	width: 19px;
}
.icon-cube {
	background-position: -324px -108px;
}
.icon-folder {
	background-position: -360px -108px;
}
.icon-folder-open {
	background-position: -396px -108px;
}
.icon-alarm {
	background-position: 0 -144px;
}
.icon-calendar {
	background-position: -36px -144px;
}
.icon-calendar2 {
	background-position: -72px -144px;
}
.icon-user {
	background-position: -108px -144px;
}
.icon-user2 {
	background-position: -144px -144px;
}
.icon-key {
	background-position: -180px -144px;
}
.icon-wrench {
	background-position: -216px -144px;
}
.icon-lightning {
	background-position: -252px -144px;
}
.icon-switch {
	background-position: -288px -144px;
}
.icon-play {
	background-position: -324px -144px;
}
.icon-pause {
	background-position: -360px -144px;
}
.icon-stop {
	background-position: -396px -144px;
}
.icon-backward {
	background-position: 0 -180px;
}
.icon-forward2 {
	background-position: -36px -180px;
}
.icon-play2 {
	background-position: -72px -180px;
}
.icon-pause2 {
	background-position: -108px -180px;
}
.icon-stop2 {
	background-position: -144px -180px;
}
.icon-backward2 {
	background-position: -180px -180px;
}
.icon-forward3 {
	background-position: -216px -180px;
}
.icon-first {
	background-position: -252px -180px;
}
.icon-last {
	background-position: -288px -180px;
}
.icon-previous {
	background-position: -324px -180px;
}
.icon-next {
	background-position: -360px -180px;
}
.icon-eject {
	background-position: -396px -180px;
}
.icon-arrow-up-left {
	background-position: 0 -216px;
}
.icon-arrow-up {
	background-position: -36px -216px;
}
.icon-arrow-up-right {
	background-position: -72px -216px;
}
.icon-arrow-right {
	background-position: -108px -216px;
}
.icon-arrow-down-right {
	background-position: -144px -216px;
}
.icon-arrow-down {
	background-position: -180px -216px;
}
.icon-arrow-down-left {
	background-position: -216px -216px;
}
.icon-arrow-left {
	background-position: -252px -216px;
}
.icon-arrow-up-left2 {
	background-position: -288px -216px;
}
.icon-arrow-up2 {
	background-position: -324px -216px;
}
.icon-arrow-up-right2 {
	background-position: -360px -216px;
}
.icon-arrow-right2 {
	background-position: -396px -216px;
}
.icon-arrow-down-right2 {
	background-position: 0 -252px;
}
.icon-arrow-down2 {
	background-position: -36px -252px;
}
.icon-arrow-down-left2 {
	background-position: -72px -252px;
}
.icon-arrow-left2 {
	background-position: -108px -252px;
}

.icon16-film {
	background-position: 0 0;
	width: 17px;
}
.icon16-zoom-in {
	background-position: -32px 0;
}
.icon16-zoom-out {
	background-position: -64px 0;
}
.icon16-off {
	background-position: -96px 0;
}
.icon16-cog {
	background-position: -128px 0;
}
.icon16-trash {
	background-position: -160px 0;
}
.icon16-home {
	background-position: -192px 0;
}
.icon16-file {
	background-position: -224px 0;
}
.icon16-download-alt {
	background-position: -256px 0;
}
.icon16-facetime-video {
	background-position: -288px 0;
	width: 17px;
}
.icon16-edit {
	background-position: -320px 0;
}
.icon16-share {
	background-position: -352px 0;
}
.icon16-resize-full {
	background-position: 0 -32px;
}
.icon16-resize-small {
	background-position: -32px -32px;
}
.icon16-plus {
	background-position: -64px -32px;
}
.icon16-minus {
	background-position: -96px -32px;
}
.icon16-chevron-up {
	background-position: -128px -32px;
}
.icon16-chevron-down {
	background-position: -160px -32px;
}
.icon16-upload-alt {
	background-position: -192px -32px;
}
.icon16-rss {
	background-position: -224px -32px;
}
.icon16-caret-down {
	background-position: -256px -32px;
}
.icon16-caret-up {
	background-position: -288px -32px;
}
.icon16-caret-left {
	background-position: -320px -32px;
}
.icon16-caret-right {
	background-position: -352px -32px;
}
.icon16-pencil {
	background-position: 0 -64px;
}
.icon16-reply {
	background-position: -32px -64px;
}
.icon16-reply-all {
	background-position: -64px -64px;
}
.icon16-forward {
	background-position: -96px -64px;
}
.icon16-adjust {
	background-position: -128px -64px;
}
.icon16-checkmark {
	background-position: -160px -64px;
}
.icon16-checkmark2 {
	background-position: -192px -64px;
}
.icon16-cancel {
	background-position: -224px -64px;
}
.icon16-cancel2 {
	background-position: -256px -64px;
}
.icon16-plus2 {
	background-position: -288px -64px;
}
.icon16-plus3 {
	background-position: -320px -64px;
}
.icon16-minus2 {
	background-position: -352px -64px;
}
.icon16-minus3 {
	background-position: 0 -96px;
}
.icon16-notice {
	background-position: -32px -96px;
}
.icon16-notice2 {
	background-position: -64px -96px;
}
.icon16-warning {
	background-position: -96px -96px;
}
.icon16-checkmark3 {
	background-position: -128px -96px;
}
.icon16-cancel3 {
	background-position: -160px -96px;
}
.icon16-cloud {
	background-position: -192px -96px;
	width: 17px;
}
.icon16-upload {
	background-position: -224px -96px;
	width: 17px;
}
.icon16-download {
	background-position: -256px -96px;
	width: 17px;
}
.icon16-cube {
	background-position: -288px -96px;
}
.icon16-folder {
	background-position: -320px -96px;
}
.icon16-folder-open {
	background-position: -352px -96px;
}
.icon16-alarm {
	background-position: 0 -128px;
}
.icon16-calendar {
	background-position: -32px -128px;
}
.icon16-calendar2 {
	background-position: -64px -128px;
}
.icon16-user {
	background-position: -96px -128px;
}
.icon16-user2 {
	background-position: -128px -128px;
}
.icon16-key {
	background-position: -160px -128px;
}
.icon16-wrench {
	background-position: -192px -128px;
}
.icon16-lightning {
	background-position: -224px -128px;
}
.icon16-switch {
	background-position: -256px -128px;
}
.icon16-play {
	background-position: -288px -128px;
}
.icon16-pause {
	background-position: -320px -128px;
}
.icon16-stop {
	background-position: -352px -128px;
}
.icon16-backward {
	background-position: 0 -160px;
}
.icon16-forward2 {
	background-position: -32px -160px;
}
.icon16-play2 {
	background-position: -64px -160px;
}
.icon16-pause2 {
	background-position: -96px -160px;
}
.icon16-stop2 {
	background-position: -128px -160px;
}
.icon16-backward2 {
	background-position: -160px -160px;
}
.icon16-forward3 {
	background-position: -192px -160px;
}
.icon16-first {
	background-position: -224px -160px;
}
.icon16-last {
	background-position: -256px -160px;
}
.icon16-previous {
	background-position: -288px -160px;
}
.icon16-next {
	background-position: -320px -160px;
}
.icon16-eject {
	background-position: -352px -160px;
}
.icon16-arrow-up-left {
	background-position: 0 -192px;
}
.icon16-arrow-up {
	background-position: -32px -192px;
}
.icon16-arrow-up-right {
	background-position: -64px -192px;
}
.icon16-arrow-right {
	background-position: -96px -192px;
}
.icon16-arrow-down-right {
	background-position: -128px -192px;
}
.icon16-arrow-down {
	background-position: -160px -192px;
}
.icon16-arrow-down-left {
	background-position: -192px -192px;
}
.icon16-arrow-left {
	background-position: -224px -192px;
}
.icon16-arrow-up-left2 {
	background-position: -256px -192px;
}
.icon16-arrow-up2 {
	background-position: -288px -192px;
}
.icon16-arrow-up-right2 {
	background-position: -320px -192px;
}
.icon16-arrow-right2 {
	background-position: -352px -192px;
}
.icon16-arrow-down-right2 {
	background-position: 0 -224px;
}
.icon16-arrow-down2 {
	background-position: -32px -224px;
}
.icon16-arrow-down-left2 {
	background-position: -64px -224px;
}
.icon16-arrow-left2 {
	background-position: -96px -224px;
}
.icon24-film {
	background-position: 0 0;
	width: 26px;
}
.icon24-zoom-in {
	background-position: -48px 0;
}
.icon24-zoom-out {
	background-position: -96px 0;
}
.icon24-off {
	background-position: -144px 0;
}
.icon24-cog {
	background-position: -192px 0;
}
.icon24-trash {
	background-position: -240px 0;
}
.icon24-home {
	background-position: -288px 0;
}
.icon24-file {
	background-position: -336px 0;
}
.icon24-download-alt {
	background-position: -384px 0;
}
.icon24-facetime-video {
	background-position: -432px 0;
	width: 26px;
}
.icon24-edit {
	background-position: -480px 0;
}
.icon24-share {
	background-position: -528px 0;
}
.icon24-resize-full {
	background-position: 0 -48px;
}
.icon24-resize-small {
	background-position: -48px -48px;
}
.icon24-plus {
	background-position: -96px -48px;
}
.icon24-minus {
	background-position: -144px -48px;
}
.icon24-chevron-up {
	background-position: -192px -48px;
}
.icon24-chevron-down {
	background-position: -240px -48px;
}
.icon24-upload-alt {
	background-position: -288px -48px;
}
.icon24-rss {
	background-position: -336px -48px;
}
.icon24-caret-down {
	background-position: -384px -48px;
}
.icon24-caret-up {
	background-position: -432px -48px;
}
.icon24-caret-left {
	background-position: -480px -48px;
}
.icon24-caret-right {
	background-position: -528px -48px;
}
.icon24-pencil {
	background-position: 0 -96px;
}
.icon24-reply {
	background-position: -48px -96px;
}
.icon24-reply-all {
	background-position: -96px -96px;
}
.icon24-forward {
	background-position: -144px -96px;
}
.icon24-adjust {
	background-position: -192px -96px;
}
.icon24-checkmark {
	background-position: -240px -96px;
}
.icon24-checkmark2 {
	background-position: -288px -96px;
}
.icon24-cancel {
	background-position: -336px -96px;
}
.icon24-cancel2 {
	background-position: -384px -96px;
}
.icon24-plus2 {
	background-position: -432px -96px;
}
.icon24-plus3 {
	background-position: -480px -96px;
}
.icon24-minus2 {
	background-position: -528px -96px;
}
.icon24-minus3 {
	background-position: 0 -144px;
}
.icon24-notice {
	background-position: -48px -144px;
}
.icon24-notice2 {
	background-position: -96px -144px;
}
.icon24-warning {
	background-position: -144px -144px;
}
.icon24-checkmark3 {
	background-position: -192px -144px;
}
.icon24-cancel3 {
	background-position: -240px -144px;
}
.icon24-cloud {
	background-position: -288px -144px;
	width: 26px;
}
.icon24-upload {
	background-position: -336px -144px;
	width: 26px;
}
.icon24-download {
	background-position: -384px -144px;
	width: 26px;
}
.icon24-cube {
	background-position: -432px -144px;
}
.icon24-folder {
	background-position: -480px -144px;
}
.icon24-folder-open {
	background-position: -528px -144px;
}
.icon24-alarm {
	background-position: 0 -192px;
}
.icon24-calendar {
	background-position: -48px -192px;
}
.icon24-calendar2 {
	background-position: -96px -192px;
}
.icon24-user {
	background-position: -144px -192px;
}
.icon24-user2 {
	background-position: -192px -192px;
}
.icon24-key {
	background-position: -240px -192px;
}
.icon24-wrench {
	background-position: -288px -192px;
}
.icon24-lightning {
	background-position: -336px -192px;
}
.icon24-switch {
	background-position: -384px -192px;
}
.icon24-play {
	background-position: -432px -192px;
}
.icon24-pause {
	background-position: -480px -192px;
}
.icon24-stop {
	background-position: -528px -192px;
}
.icon24-backward {
	background-position: 0 -240px;
}
.icon24-forward2 {
	background-position: -48px -240px;
}
.icon24-play2 {
	background-position: -96px -240px;
}
.icon24-pause2 {
	background-position: -144px -240px;
}
.icon24-stop2 {
	background-position: -192px -240px;
}
.icon24-backward2 {
	background-position: -240px -240px;
}
.icon24-forward3 {
	background-position: -288px -240px;
}
.icon24-first {
	background-position: -336px -240px;
}
.icon24-last {
	background-position: -384px -240px;
}
.icon24-previous {
	background-position: -432px -240px;
}
.icon24-next {
	background-position: -480px -240px;
}
.icon24-eject {
	background-position: -528px -240px;
}
.icon24-arrow-up-left {
	background-position: 0 -288px;
}
.icon24-arrow-up {
	background-position: -48px -288px;
}
.icon24-arrow-up-right {
	background-position: -96px -288px;
}
.icon24-arrow-right {
	background-position: -144px -288px;
}
.icon24-arrow-down-right {
	background-position: -192px -288px;
}
.icon24-arrow-down {
	background-position: -240px -288px;
}
.icon24-arrow-down-left {
	background-position: -288px -288px;
}
.icon24-arrow-left {
	background-position: -336px -288px;
}
.icon24-arrow-up-left2 {
	background-position: -384px -288px;
}
.icon24-arrow-up2 {
	background-position: -432px -288px;
}
.icon24-arrow-up-right2 {
	background-position: -480px -288px;
}
.icon24-arrow-right2 {
	background-position: -528px -288px;
}
.icon24-arrow-down-right2 {
	background-position: 0 -336px;
}
.icon24-arrow-down2 {
	background-position: -48px -336px;
}
.icon24-arrow-down-left2 {
	background-position: -96px -336px;
}
.icon24-arrow-left2 {
	background-position: -144px -336px;
}

.icon32-film {
	background-position: 0 0;
	width: 34px;
}
.icon32-zoom-in {
	background-position: -64px 0;
}
.icon32-zoom-out {
	background-position: -128px 0;
}
.icon32-off {
	background-position: -192px 0;
}
.icon32-cog {
	background-position: -256px 0;
}
.icon32-trash {
	background-position: -320px 0;
}
.icon32-home {
	background-position: -384px 0;
}
.icon32-file {
	background-position: -448px 0;
}
.icon32-download-alt {
	background-position: -512px 0;
}
.icon32-facetime-video {
	background-position: -576px 0;
	width: 34px;
}
.icon32-edit {
	background-position: -640px 0;
}
.icon32-share {
	background-position: -704px 0;
}
.icon32-resize-full {
	background-position: 0 -64px;
}
.icon32-resize-small {
	background-position: -64px -64px;
}
.icon32-plus {
	background-position: -128px -64px;
}
.icon32-minus {
	background-position: -192px -64px;
}
.icon32-chevron-up {
	background-position: -256px -64px;
}
.icon32-chevron-down {
	background-position: -320px -64px;
}
.icon32-upload-alt {
	background-position: -384px -64px;
}
.icon32-rss {
	background-position: -448px -64px;
}
.icon32-caret-down {
	background-position: -512px -64px;
}
.icon32-caret-up {
	background-position: -576px -64px;
}
.icon32-caret-left {
	background-position: -640px -64px;
}
.icon32-caret-right {
	background-position: -704px -64px;
}
.icon32-pencil {
	background-position: 0 -128px;
}
.icon32-reply {
	background-position: -64px -128px;
}
.icon32-reply-all {
	background-position: -128px -128px;
}
.icon32-forward {
	background-position: -192px -128px;
}
.icon32-adjust {
	background-position: -256px -128px;
}
.icon32-checkmark {
	background-position: -320px -128px;
}
.icon32-checkmark2 {
	background-position: -384px -128px;
}
.icon32-cancel {
	background-position: -448px -128px;
}
.icon32-cancel2 {
	background-position: -512px -128px;
}
.icon32-plus2 {
	background-position: -576px -128px;
}
.icon32-plus3 {
	background-position: -640px -128px;
}
.icon32-minus2 {
	background-position: -704px -128px;
}
.icon32-minus3 {
	background-position: 0 -192px;
}
.icon32-notice {
	background-position: -64px -192px;
}
.icon32-notice2 {
	background-position: -128px -192px;
}
.icon32-warning {
	background-position: -192px -192px;
}
.icon32-checkmark3 {
	background-position: -256px -192px;
}
.icon32-cancel3 {
	background-position: -320px -192px;
}
.icon32-cloud {
	background-position: -384px -192px;
	width: 35px;
}
.icon32-upload {
	background-position: -448px -192px;
	width: 35px;
}
.icon32-download {
	background-position: -512px -192px;
	width: 35px;
}
.icon32-cube {
	background-position: -576px -192px;
}
.icon32-folder {
	background-position: -640px -192px;
}
.icon32-folder-open {
	background-position: -704px -192px;
}
.icon32-alarm {
	background-position: 0 -256px;
}
.icon32-calendar {
	background-position: -64px -256px;
}
.icon32-calendar2 {
	background-position: -128px -256px;
}
.icon32-user {
	background-position: -192px -256px;
}
.icon32-user2 {
	background-position: -256px -256px;
}
.icon32-key {
	background-position: -320px -256px;
}
.icon32-wrench {
	background-position: -384px -256px;
}
.icon32-lightning {
	background-position: -448px -256px;
}
.icon32-switch {
	background-position: -512px -256px;
}
.icon32-play {
	background-position: -576px -256px;
}
.icon32-pause {
	background-position: -640px -256px;
}
.icon32-stop {
	background-position: -704px -256px;
}
.icon32-backward {
	background-position: 0 -320px;
}
.icon32-forward2 {
	background-position: -64px -320px;
}
.icon32-play2 {
	background-position: -128px -320px;
}
.icon32-pause2 {
	background-position: -192px -320px;
}
.icon32-stop2 {
	background-position: -256px -320px;
}
.icon32-backward2 {
	background-position: -320px -320px;
}
.icon32-forward3 {
	background-position: -384px -320px;
}
.icon32-first {
	background-position: -448px -320px;
}
.icon32-last {
	background-position: -512px -320px;
}
.icon32-previous {
	background-position: -576px -320px;
}
.icon32-next {
	background-position: -640px -320px;
}
.icon32-eject {
	background-position: -704px -320px;
}
.icon32-arrow-up-left {
	background-position: 0 -384px;
}
.icon32-arrow-up {
	background-position: -64px -384px;
}
.icon32-arrow-up-right {
	background-position: -128px -384px;
}
.icon32-arrow-right {
	background-position: -192px -384px;
}
.icon32-arrow-down-right {
	background-position: -256px -384px;
}
.icon32-arrow-down {
	background-position: -320px -384px;
}
.icon32-arrow-down-left {
	background-position: -384px -384px;
}
.icon32-arrow-left {
	background-position: -448px -384px;
}
.icon32-arrow-up-left2 {
	background-position: -512px -384px;
}
.icon32-arrow-up2 {
	background-position: -576px -384px;
}
.icon32-arrow-up-right2 {
	background-position: -640px -384px;
}
.icon32-arrow-right2 {
	background-position: -704px -384px;
}
.icon32-arrow-down-right2 {
	background-position: 0 -448px;
}
.icon32-arrow-down2 {
	background-position: -64px -448px;
}
.icon32-arrow-down-left2 {
	background-position: -128px -448px;
}
.icon32-arrow-left2 {
	background-position: -192px -448px;
}
